= link_to shop_path(1), class: "item_link" do 
  .shop_list
    .shop_list_image
      = image_tag 'sampleFood.jpg'
    .shop_list_discription
      %p.shop_title Sample Shop
      .shop_list_genreAndTime
        .shop_genre
          %p 洋菓子  
        %p.shop_list_time 16:00 ~ 19:00
      .shop_item
        %p 残り5個
        %p 東京駅から10分