.item_container
  = link_to item_path(1), class: "item_link" do
    "sample items"
  %br
  = link_to item_path(1), class: "item_link" do
    "sample items"
  %br
  = link_to item_path(1), class: "item_link" do
    "sample items"
  %br
  = link_to item_path(1), class: "item_link" do
    "sample items"
