.item_detail
  .item_detail_description
    = image_tag 'sampleFood.jpg', class: "item_detail_img", alt: "https://www.pakutaso.com/20171221353post-14548.html"
    %h1 春菊のケークサクレ
    %p この写真の画像は無料で使えるぱくたそオリジナルのフリー素材です。
  .item_detail_shop
    %h2 SampleShop
    %p 京都府京都市北区紫竹大門町
    %a http://example.com
  .item_order
    %p 注文する