.item{
  &_detail{
    background-color: $itemDetailBackground;
    &_img-container{
      max-height: 400px;
      min-height: 200px;
    }
    &_img{
      width: 100%;
      height: 200px!important;
      object-fit: cover;
    }
    &_description{
      background-color: white;
      margin-bottom: 10px;
      padding-bottom: 15px;
      position: relative;

      .itemImagePoint{
        &-l{
          position: absolute;
          top: 80px;
          color: white;
          font-size: 30px;
        }
        &-r{
          position: absolute;
          top: 80px;
          right: 0px;
          color: white;
          font-size: 30px;
        }
      }
    } 
    & h1{
      text-align: center;
      margin: 10px;
    }
    & p{
      font-size: 12px;
      padding: 5px 15px;
    }
    &_shop{
      background-color: white;
      padding: 25px;
      & a{
        color: $itemDetailShopLink;
      }
    }
  }
}