.item{
  &_container{
    padding: 10px;
    & ul{
      border-top: solid thin;
      border-left: solid thin;
    }
    & li{
      width: 32%;
      display: inline-block;
      padding-bottom: 20px;
      border-right: solid thin;
      border-bottom: solid thin;
      & p{
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 12px;
        height: 18px;
      }
    }
  }
  &_image{
    max-width: 100%;
  }
  &_order{
    background-color: $itemDetailOrderButton;
    position: fixed;
    bottom: 20px;
    width: 80%;
    height: 45px;
    left: 10%;
    border-radius: 50%;
    & p{
      text-align: center;
      margin-top: 8px;
      font-size: 20px;
      color: white;
    }
  }
}