.shop_review{
  .new_shop_review{
    text-align: center;
  }
  padding: 10px;
  &-title{
    & h1{
      margin-bottom: 15px;
      font-size: 30px;
    }
  }
  &-items{
    padding: 15px 35px;
    & h2{
      font-size: 20px;
      margin-bottom: 10px;
    }
    & p{
      text-align: right;
    }
  }
  &-evaluationForm{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 15px 0;
  }
  &-evaluationForm input[type='radio']{
    display: none;
  }
  &-evaluationForm label{
    position: relative;
    padding: 10px 10px 0;
    color: gray;
    cursor: pointer;
    font-size: 50px;
  }
  &-evaluationForm label .text{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: gray;
  }
  &-evaluationForm label:hover,
  &-evaluationForm label:hover ~ label,
  &-evaluationForm input[type='radio']:checked ~ label{
    color: $starColor;
  }
  &-textarea{
    width: 100%;
    height: 150px;
    border: 2px solid lightgreen;
  }
  &-submit{
    width: 90%;
    height: 30px;
    margin-top: 10px;
    background-color: lightgreen;
  }
}

